{{define "yield"}}

    <h1>Get in touch!</h1>

    <p>
        Contact me:
        <a target="_blank" href="https://www.facebook.com/tamta.giorgadze.180/"><strong>Facebook</strong></a>
        <a target="_blank" href="https://www.linkedin.com/in/tamta-giorgadze-4369aa147/"><strong>LinkdIn</strong></a>
        <a target="_blank" href=https://github.com/TamtaGiorgadze><strong>GitHub</strong></a>
    </p>

    {{template "footer"}}

{{end}}